In [2]:
import numpy as np 
import pandas as pd
data = pd.read_csv("uber_rides_data.xlsx - sample_train.csv")
data

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [4]:
integer_columns = data.select_dtypes(include='int64').columns
number_of_integer_columns = len(integer_columns)

print("Number of integer columns:", number_of_integer_columns)

Number of integer columns: 2

In [5]:
missing_values = data['dropoff_longitude'].isna().sum()

print("Number of missing values in 'dropoff_longitude' column:", missing_values)

Number of missing values in 'dropoff_longitude' column: 1

In [6]:
pickup_datetime_dtype = data['pickup_datetime'].dtype

print("Data type of 'pickup_datetime' feature:", pickup_datetime_dtype)

Data type of 'pickup_datetime' feature: object

In [7]:
data.dropna(subset=['fare_amount'], inplace=True)  
average_fare = data['fare_amount'].mean()  

print("Average Fare Amount:", average_fare)

Average Fare Amount: 11.359955250000002

In [9]:
import pandas as pd
import numpy as np

# Define a function to calculate Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    """
    Calculate the Haversine distance between two points (latitude and longitude in degrees).
    """
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371  # Radius of the Earth in kilometers
    return c * r

# Assuming 'df' is your DataFrame with 'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', and 'dropoff_longitude'
data['haversine_distance'] = data.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

# Calculate the median Haversine distance
median_haversine_distance = data['haversine_distance'].median()

print("Median Haversine Distance:", median_haversine_distance)

Median Haversine Distance: 2.1209923961833708

In [11]:
# Calculate the maximum Haversine distance
max_haversine_distance = data['haversine_distance'].max()

print("Maximum Haversine Distance:", max_haversine_distance)

Maximum Haversine Distance: 16409.239135313164

In [12]:
# Assuming you have already calculated the 'haversine_distance' column
rides_with_zero_distance = (data['haversine_distance'] == 0.0).sum()

print("Number of rides with 0.0 Haversine distance:", rides_with_zero_distance)

Number of rides with 0.0 Haversine distance: 5632

In [14]:
# Assuming you have already calculated the 'haversine_distance' column
fare_mean_for_zero_distance = data[data['haversine_distance'] == 0.0]['fare_amount'].mean()

print("Mean 'fare_amount' for rides with 0.0 Haversine distance:", fare_mean_for_zero_distance)

Mean 'fare_amount' for rides with 0.0 Haversine distance: 11.585317826704546

In [15]:
# Assuming 'df' is your DataFrame
max_fare_amount = data['fare_amount'].max()

print("Maximum 'fare_amount' for a ride:", max_fare_amount)

Maximum 'fare_amount' for a ride: 499.0

In [17]:
# Assuming you have already calculated the 'haversine_distance' column and 'fare_amount' is available
max_fare_row = data[data['fare_amount'] == data['fare_amount'].max()]
haversine_distance_for_costliest_ride = max_fare_row['haversine_distance'].values[0]

print("Haversine distance for the costliest ride:", haversine_distance_for_costliest_ride)

Haversine distance for the costliest ride: 0.0007899213191009994

In [19]:
# Assuming 'df' is your DataFrame
data['pickup_datetime'] = pd.to_datetime(data['pickup_datetime'])  # Convert 'pickup_datetime' to datetime
rides_in_2014 = (data['pickup_datetime'].dt.year == 2014).sum()  # Count rides in 2014

print("Number of rides recorded in the year 2014:", rides_in_2014)

Number of rides recorded in the year 2014: 29968

In [20]:
# Assuming 'df' is your DataFrame
data['pickup_datetime'] = pd.to_datetime(data['pickup_datetime'])  # Convert 'pickup_datetime' to datetime
rides_in_first_quarter_2014 = ((data['pickup_datetime'].dt.year == 2014) & (data['pickup_datetime'].dt.quarter == 1)).sum()  # Count rides in Q1 2014

print("Number of rides recorded in the first quarter of 2014:", rides_in_first_quarter_2014)

Number of rides recorded in the first quarter of 2014: 7687

In [21]:
data['pickup_datetime'] = pd.to_datetime(data['pickup_datetime'])  # Convert 'pickup_datetime' to datetime
rides_in_september_2010 = data[(data['pickup_datetime'].dt.year == 2010) & (data['pickup_datetime'].dt.month == 9)]

# Count the rides for each day of the week and find the day with the maximum rides
day_with_max_rides = rides_in_september_2010['pickup_datetime'].dt.day_name().value_counts().idxmax()

print("Day of the week in September 2010 with the maximum rides:", day_with_max_rides)

Day of the week in September 2010 with the maximum rides: Thursday